/**
 Contains styles that are reused 
 across all pages, sections, etc.

 Includes styles for globally reused 
 JS components
 */
.Body {
  background-color: whitesmoke;
  min-height: 100%;
  position: relative;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkText {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
}
.LinkText:not([disabled]):hover {
  text-decoration-color: grey;
}
.LinkText span:not([disabled]):hover {
  color: grey;
}

.ContactPage-SubmitButton:hover, .WorkPage-Experience-Company:hover, .Header-UnselectedMenuItem:hover, .Header-SelectedMenuItem:hover, .Header-SubmenuItem:hover, .clickable:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

#app {
  height: 100vh;
  display: block;
}

body {
  min-height: 100%;
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #09f;
}

/**
* EVERYTHING AFTER HERE IS CUSTOM.
*/
.screen {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: lightyellow;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.submit-button {
  padding: 7px 15px 7px 15px;
  display: inline-block;
  background-color: lightgreen;
}

.submit-button:hover {
  background-color: green;
}

.header-li {
  list-style-type: none;
  list-style-position: outside;
  display: block;
}

.header-list {
  padding-left: 0;
}

.body-text {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: black;
}

.header-1 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.header-2 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.header-3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.header-4 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1em;
}

.header-5 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1em;
}

a.link-text {
  text-decoration: none;
  color: #09f;
}

a.link-text:hover {
  text-decoration: underline;
}

.gallery-container {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.gallery-item {
  border-width: 1px;
  border-color: red;
  border-style: solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1em 1em 1em 1em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.gallery-item-title {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.gallery-item-body {
  font-size: 1em;
}

.OrderedList {
  padding-inline-start: 30px;
}

.UnorderedList {
  padding-inline-start: 30px;
}

.Footer-Container {
  background-color: darkblue;
  padding: 10px 20px 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Footer-Subcontainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
}

.Footer-Text {
  color: white;
}

.Header-Container {
  display: flex;
  flex-direction: row;
  background-color: darkblue;
  margin: 0;
}

.Header-MenuItemsContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 1000px;
  margin: auto;
}

.Header-SelectedMenuItem, .Header-UnselectedMenuItem {
  min-width: 100px;
  height: auto;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  border-width: 7px 0 7px 0;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;
}

.Header-SelectedMenuItem:not([disabled]):hover, .Header-UnselectedMenuItem:not([disabled]):hover {
  border-bottom-color: white;
}

.Header-UnselectedMenuItem {
  color: lightblue;
}

.Header-SelectedMenuItem {
  color: white;
  font-weight: bold;
}

.Header-MenuItemLink, .Header-SubmenuItemLink {
  display: contents;
}

.Header-MenuItemContainer {
  position: relative;
  display: flex;
}
.Header-MenuItemContainer:not([disabled]):hover .Header-SubmenuContainer {
  transition: opacity 0.2s;
  display: block;
  opacity: 1;
}

.Header-SubmenuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #7d7d7d;
  top: 100%;
  left: 0;
  display: none;
  opacity: 0;
}

.Header-SubmenuItem:not([disabled]):hover {
  background-color: #646464;
}

.Header-SubmenuItem {
  min-width: 100px;
  height: auto;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  text-align: left;
  color: white;
  z-index: 1;
  border: 0;
  display: flex;
  font-size: 0.9em;
  white-space: nowrap;
}

.Article-Container {
  padding: 40px 0px 175px 0px;
}

.Article {
  max-width: 1000px;
  margin: 0px auto;
  padding: 90px 90px 60px 90px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px lightgrey;
  min-height: 100%;
}

.CleanCode-Title {
  margin-top: 0;
}

.Construction-Container {
  text-align: center;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  line-height: 1.25em;
}

.HomePage-WorkExperienceHeader {
  margin-top: 0;
}

.HomePage-WorkList .ListItemContainer {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.HomePage-Work-Title {
  font-weight: bold;
}

.HomePage-Work-Subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.HomePage-Work-Company {
  width: 200px;
}

.HomePage-Work-Dates {
  flex: 1;
}

.HomePage-ProjectsList {
  padding-inline-start: 0;
  background-color: whitesmoke;
  padding: 20px 20px;
}
.HomePage-ProjectsList li {
  list-style: none;
}

.HomePage-ProjectsList .ListItemContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.HomePage-Project-Title {
  font-weight: bold;
  width: 110px;
}

.HomePage-Project-Link {
  text-align: right;
  width: 110px;
  display: inline-block;
}
.HomePage-Project-Link span {
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.HomePage-Work-Separator {
  margin: 0 10px;
}

.Project-Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 30px 0;
  margin-top: 0;
}

.Project-Title {
  margin: 0;
  margin-right: 40px;
}

.Project-Header a {
  color: #323232;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Project-Github {
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  background-color: #f0f0f0;
}
.Project-Github:not([disabled]):hover {
  border-color: black;
  background-color: white;
}

.Project-Live-Container {
  background-color: #f0f0f0;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
}
.Project-Live-Container:not([disabled]):hover {
  border-color: black;
  background-color: white;
}

.Project-Live-Container span {
  margin: 0 5px;
}

.Project-Skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.Project-Skill {
  padding: 10px 20px;
  margin-right: 30px;
  border-radius: 10px;
  border-width: 1px;
  background-color: darkblue;
  color: white;
  margin-bottom: 20px;
}

.WorkPage-Experience-Title {
  margin-top: 0;
}

.WorkPage-Experience-Subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.WorkPage-Experience-Company {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
  margin-right: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  background-color: darkred;
  color: white;
}
.WorkPage-Experience-Company:not([disabled]):hover {
  transform: rotate(-4deg) scaleX(1.05) scaleY(1.05);
}

.WorkPage-Experience-Dates {
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  background-color: purple;
  color: white;
}

.WorkPage-Experience-Languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.WorkPage-Experience-Language {
  padding: 10px 20px;
  margin-right: 30px;
  border-radius: 10px;
  border-width: 1px;
  background-color: darkblue;
  color: white;
  margin-bottom: 20px;
}

.ContactPage-Title {
  margin-top: 0;
}

.ContactPage-Form {
  display: flex;
  flex-direction: column;
}

.ContactPage-InputGroup {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContactPage-InputGroup label {
  min-width: 100px;
  display: inline-block;
}

.ContactPage-InputGroup input {
  display: inline-block;
  min-width: 500px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.ContactPage-InputGroup textarea {
  display: inline-block;
  min-width: 500px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.9em;
}

.ContactPage-SubmitButton {
  padding: 7px 14px;
  align-self: flex-start;
  border-radius: 5px;
  border-style: solid;
  background-color: #bebebe;
  border-color: transparent;
  font-size: 0.9em;
}
.ContactPage-SubmitButton:not([disabled]):active {
  background-color: #d2d2d2;
}

/*# sourceMappingURL=index.css.map */
