@use "componentlib/globals/abstract/constants";

.My-Header {
    .My-Logo {
        margin-left: 3rem;
    }
    .My-LogoText {
        top: 1rem;
        position: relative;
        font-size: 8rem;
        color: constants.$light-primary;
    }

    .My-Header-Menu {
        margin-left: 3rem;
    }
}