.Button, .SubmitButton {
  white-space: nowrap;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}
.Button:not([disabled]):hover, .SubmitButton:not([disabled]):hover {
  cursor: pointer;
}
.Button > a, .SubmitButton > a, .Button > span, .SubmitButton > span {
  display: flex;
  padding: 0.2em;
}
.Button:not([disabled]):active, .SubmitButton:not([disabled]):active {
  opacity: 0.5;
}

.EditButton, .DeleteButton, .PreviewButton, .SubmitButton, .CancelButton {
  letter-spacing: 0.12em;
  display: flex;
  flex-direction: row;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.3rem;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(#f0f0f0, #d2d2d2);
  border-radius: 3px;
}
.EditButton .Icon, .DeleteButton .Icon, .PreviewButton .Icon, .SubmitButton .Icon, .CancelButton .Icon {
  margin-top: -0.1rem;
  font-size: 1rem;
}
.EditButton * + .Separator, .DeleteButton * + .Separator, .PreviewButton * + .Separator, .SubmitButton * + .Separator, .CancelButton * + .Separator {
  margin-left: 10px;
}
.EditButton .Text, .DeleteButton .Text, .PreviewButton .Text, .SubmitButton .Text, .CancelButton .Text {
  color: white;
}
.EditButton:disabled, .DeleteButton:disabled, .PreviewButton:disabled, .SubmitButton:disabled, .CancelButton:disabled {
  background-image: linear-gradient(gray, gray);
}
.EditButton > a, .DeleteButton > a, .PreviewButton > a, .SubmitButton > a, .CancelButton > a, .EditButton > .ButtonText, .DeleteButton > .ButtonText, .PreviewButton > .ButtonText, .SubmitButton > .ButtonText, .CancelButton > .ButtonText {
  display: flex;
  padding: 0.7em 0.9em;
}

.ButtonText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AddButton {
  border-radius: 50%;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  border-style: solid;
  border-width: 0.13em;
  background-color: #4CAF50;
  border-color: transparent;
  color: white;
}

.CloseButton {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  color: #464646;
  border-color: transparent;
}

.SearchButton {
  width: 2.2em;
  height: 2.2em;
  font-size: 1em;
  background-image: linear-gradient(#f0f0f0, #d2d2d2);
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditButton {
  color: white;
  background-image: linear-gradient(purple, purple);
}

.DeleteButton {
  background-image: linear-gradient(#dc0000, #c80000);
  color: white;
}

.PreviewButton {
  color: white;
  background-image: linear-gradient(#0064c8, #0064b4);
}

.SubmitButton {
  color: white;
  background-image: unset;
  background-color: #4CAF50;
  padding: 0.5rem 2rem;
}
.SubmitButton .Text {
  font-size: 1.2rem;
}

.CancelButton {
  color: white;
  background-image: linear-gradient(#c80000, #c80000);
}

.Go-backButton {
  background-color: transparent;
  border-width: 0;
  font-size: 2rem;
  color: white;
}

.InputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.InputGroup-Label {
  width: 170px;
  font-size: 1.1rem;
}

.InputGroup input {
  border-radius: 3px;
  border-style: solid;
  border-color: #969696;
  border-width: 1px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  min-width: 250px;
}
.InputGroup input:not(.InputGroup-ColorInput) {
  flex: 1;
}

.InputGroup input[type=color] {
  padding: 0;
  width: 3rem;
  height: 2rem;
  min-width: 0;
}

.Text {
  font-size: 1rem;
  color: #212121;
}

.Header1 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Header2 {
  font-size: 1.75rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.Header3 {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.Header4 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.Header5 {
  font-size: 1.25rem;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.Header6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.Badge {
  letter-spacing: 0.05em;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  border-color: silver;
  font-weight: bold;
  border-style: outset;
  display: inline-block;
  text-align: center;
}
.Badge .Text {
  color: white;
}

a {
  display: inline-block;
  color: unset;
  text-decoration: unset;
  font-size: 1em;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
}

section {
  margin: 0;
}

.Modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(50, 50, 50, 0.7);
}

.ModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  min-width: 100px;
  border-radius: 5px;
  padding: 20px 30px;
}

.ModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.ModalHeader > .Header1 {
  margin: 0;
}

.Page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #FFC107;
}

.Body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #FFC107;
  padding: 4rem 4rem;
}

.Surface {
  display: flex;
  flex: 1;
  animation-name: grow;
  animation-duration: 5s;
  flex-basis: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0.5px darkgray;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.Surface > * {
  padding-left: 50px;
  padding-right: 50px;
}
.Surface:last-child {
  padding-bottom: 4rem;
}

.SurfaceBody {
  flex: 1;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.Header {
  width: 100%;
  height: 7rem;
  background-color: #FFA000;
  display: flex;
  flex-direction: row;
}
.Header .Logo {
  position: relative;
  height: 100%;
  white-space: nowrap;
}
.Header .Logo > .LogoLink {
  display: contents;
}

.Menu .SelectedMenuItem, .Menu .MenuItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.Menu .SelectedMenuItem .Text, .Menu .MenuItem .Text {
  color: #FFECB3;
  font-size: 1.7rem;
  font-weight: bold;
  font-variant: small-caps;
}
.Menu .SelectedMenuItem > a, .Menu .MenuItem > a {
  padding: 1rem 1.5rem;
  position: relative;
}

.Menu {
  display: flex;
  flex-direction: row;
}
@keyframes expand {
  from {
    width: 1px;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
.Menu .MenuItem > a:not([disabled]):hover::after {
  content: "";
  height: 0.6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: expand;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  background-color: white;
}
.Menu .MenuItem > a:not([disabled]):hover .Text {
  color: white;
}
.Menu .SelectedMenuItem > a {
  background-image: linear-gradient(#FFA000, #FFC107);
}
.Menu .SelectedMenuItem > a .Text {
  color: white;
}

.SurfaceNavHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFA000;
  color: white;
}
.SurfaceNavHeader + * {
  padding-top: 2rem;
}
.SurfaceNavHeader .SurfaceNavHeader-First {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SurfaceNavHeader .SurfaceNavHeader-First > * + * {
  margin-left: 20px;
}
.SurfaceNavHeader .SurfaceNavHeader-Last {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SurfaceNavHeader .SurfaceNavHeader-Last > * + * {
  margin-left: 20px;
}

.LoadingSpinner {
  position: relative;
  flex: 1;
  width: 100%;
}
.LoadingSpinner .LoadingSpinner-Rotate {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 42%);
  animation-name: spin;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.LoadingSpinner .LoadingSpinner-Rotate:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
  width: 50%;
  background: black;
  height: 50%;
}
.LoadingSpinner .LoadingSpinner-Rotate:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: whitesmoke;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.My-Header .My-Logo {
  margin-left: 3rem;
}
.My-Header .My-LogoText {
  top: 1rem;
  position: relative;
  font-size: 8rem;
  color: #FFECB3;
}
.My-Header .My-Header-Menu {
  margin-left: 3rem;
}

.Patterns-Triangles {
  overflow: hidden;
  display: flex;
}
.Patterns-Triangles .Patterns-Triangles-Triangle {
  width: 0;
  height: 0;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-bottom-color: #FFA000;
  position: absolute;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-0 {
  transform: scale(1, 1) rotate(34deg);
  left: 50px;
  top: 40px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-1 {
  transform: scale(2, 2) rotate(68deg);
  left: 157.1807071264px;
  top: 146.4897657576px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-2 {
  transform: scale(3, 3) rotate(102deg);
  left: 146.4416522936px;
  top: 284.3200814043px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-3 {
  transform: scale(4, 4) rotate(136deg);
  left: 306.4581672808px;
  top: 140.93942759px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-4 {
  transform: scale(5, 5) rotate(170deg);
  left: 396.724731587px;
  top: 374.249557037px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-5 {
  transform: scale(6, 6) rotate(204deg);
  left: 282.4400439574px;
  top: 687.5265537596px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-6 {
  transform: scale(7, 7) rotate(238deg);
  left: 695.5774164843px;
  top: 430px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-7 {
  transform: scale(8, 8) rotate(272deg);
  left: 63.4383529567px;
  top: 424.582618184px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-8 {
  transform: scale(9, 9) rotate(306deg);
  left: 903.8602391229px;
  top: 1064.2000631327px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-9 {
  transform: scale(10, 10) rotate(340deg);
  left: 499.4505947422px;
  top: 867.3149339883px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-10 {
  transform: scale(11, 11) rotate(374deg);
  left: 892.6488874309px;
  top: 265.742630967px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-11 {
  transform: scale(12, 12) rotate(408deg);
  left: 1016.3489671572px;
  top: 1336.0201354624px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-12 {
  transform: scale(13, 13) rotate(442deg);
  left: 586.8923688601px;
  top: 1390.9996299037px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-13 {
  transform: scale(14, 14) rotate(476deg);
  left: 1453.7268723302px;
  top: 187.2932052435px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-14 {
  transform: scale(15, 15) rotate(510deg);
  left: 103.7452249218px;
  top: 1434.2008864765px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-15 {
  transform: scale(16, 16) rotate(544deg);
  left: 1643.777613377px;
  top: 1923.5553612637px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-16 {
  transform: scale(17, 17) rotate(578deg);
  left: 876.2699505032px;
  top: 751.4018981174px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-17 {
  transform: scale(18, 18) rotate(612deg);
  left: 1461.3069150166px;
  top: 1307.6039243358px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-18 {
  transform: scale(19, 19) rotate(646deg);
  left: 1651.8536488624px;
  top: 2380px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-19 {
  transform: scale(20, 20) rotate(680deg);
  left: 866.6280585426px;
  top: 1456.7337977871px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-20 {
  transform: scale(21, 21) rotate(714deg);
  left: 2216.5770566269px;
  top: 929.2523726467px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-21 {
  transform: scale(22, 22) rotate(748deg);
  left: 170.8960589212px;
  top: 2676.9775057692px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-22 {
  transform: scale(23, 23) rotate(782deg);
  left: 2376.2533041707px;
  top: 2230.8871073203px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-23 {
  transform: scale(24, 24) rotate(816deg);
  left: 1276.5683392232px;
  top: 300.5956708155px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-24 {
  transform: scale(25, 25) rotate(850deg);
  left: 2011.9023392603px;
  top: 2741.9992598074px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-25 {
  transform: scale(26, 26) rotate(884deg);
  left: 2302.6681217947px;
  top: 2985.5003078691px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-26 {
  transform: scale(27, 27) rotate(918deg);
  left: 1121.3748571695px;
  top: 626.9308405142px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-27 {
  transform: scale(28, 28) rotate(952deg);
  left: 2983.4343715676px;
  top: 2521.9448019648px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-28 {
  transform: scale(29, 29) rotate(986deg);
  left: 264.8499391319px;
  top: 3624.7002209644px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-29 {
  transform: scale(30, 30) rotate(1020deg);
  left: 3100.6121715221px;
  top: 1633.2708467624px;
}
.Patterns-Triangles .Patterns-Triangles-Triangle-30 {
  transform: scale(31, 31) rotate(1054deg);
  left: 1700px;
  top: 1990px;
}
.Toast {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 50vw;
  position: fixed;
  bottom: 5%;
  left: 50%;
  z-index: 1000000000;
  transform: translate(-50%, 0);
}
.Toast .Toast-EnteredList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.Toast .Toast-EnteredList > * {
  margin-bottom: 1rem;
}
.Toast .Toast-Entered {
  height: 4.5rem;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem 1rem;
  border-width: 0px;
  box-shadow: 1px 1px 3px 0.5px darkgray;
}
.Toast .Toast-Entered-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Toast .EnteredToast-enter, .Toast .EnteredToast-appear {
  opacity: 0;
  height: 0;
  margin-bottom: 0;
  padding: 0;
}
.Toast .EnteredToast-enter-active, .Toast .EnteredToast-appear-active {
  animation-name: toast-enter;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes toast-enter {
  from {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0;
    transform: translate(0, 130%);
  }
  50% {
    opacity: 0;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transform: translate(0, 130%);
  }
  to {
    opacity: 1;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transform: translate(0, 0);
  }
}
.Toast .EnteredToast-exit-active {
  animation-name: do-exit;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes do-exit {
  from {
    transform: translate(0, 0);
    opacity: 1;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  50% {
    opacity: 0;
    transform: translate(150%, 0);
    height: 4.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  to {
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translate(150%, 0);
    display: none;
  }
}
.Toast .EnteredToast-exit-done {
  opacity: 0;
  display: none;
}

.SkillsPage-Search {
  display: flex;
  flex-direction: row;
}

.SkillsPage-Skills {
  padding-top: 20px;
  padding-bottom: 20px;
}
.SkillsPage-Skills > *:first-child {
  position: relative;
}
.SkillsPage-Skills > *:first-child::before {
  position: absolute;
  content: "";
  height: 1px;
  top: 0;
  left: -10px;
  background-color: #BDBDBD;
  width: calc(100% + 10px*2);
}
.SkillsPage-Skills .SkillsPage-Skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.SkillsPage-Skills .SkillsPage-Skill:not([disabled]):hover {
  background-color: #e6e6e6;
}
.SkillsPage-Skills .SkillsPage-Skill:not([disabled]):hover {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.SkillsPage-Skills .SkillsPage-Skill:not([disabled]):hover::after {
  content: "";
  height: 100%;
  background-color: #e6e6e6;
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 10px*2);
  z-index: -1;
}

.SkillsPage-Skill-Name {
  min-width: 300px;
  display: inline-block;
  font-size: 1.3rem;
}

.SkillsPage-Skill-Main {
  width: 500px;
}
.SkillsPage-Skill-Main > *:first-child {
  margin-right: 20px;
}

.SkillsPage-Skill-Side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SkillsPage-Skill-Side > * + * {
  margin-left: 20px;
}

.SkillsPage-Modal-Submit {
  width: 100%;
}

.SkillsPage-Form {
  display: flex;
  flex-direction: column;
}
.SkillsPage-Form > * + * {
  margin-top: 20px;
}

.SkillsPage-DeleteForm {
  display: flex;
  flex-direction: column;
}
.SkillsPage-DeleteForm > * + * {
  margin-top: 30px;
}

.SkillsPage-DeleteForm-Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.SkillsPage-DeleteForm-Footer > * + * {
  margin-left: 20px;
}

.TimelinePage-Surface {
  min-width: 700px;
}
.TimelinePage-Surface .TimelinePage-Timeline > * + section {
  margin-top: 1.5rem;
}
.TimelinePage-Surface .TimelinePage-Timeline > section > h1, .TimelinePage-Surface .TimelinePage-Timeline > section > h2, .TimelinePage-Surface .TimelinePage-Timeline > section > h3, .TimelinePage-Surface .TimelinePage-Timeline > section > h4, .TimelinePage-Surface .TimelinePage-Timeline > section > h5, .TimelinePage-Surface .TimelinePage-Timeline > section > h6, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header1, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header2, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header3, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header4, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header5, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header6 {
  margin-top: 0;
  margin-bottom: 0;
}
.TimelinePage-Surface .TimelinePage-Timeline > section > h1, .TimelinePage-Surface .TimelinePage-Timeline > section > h2, .TimelinePage-Surface .TimelinePage-Timeline > section > h3, .TimelinePage-Surface .TimelinePage-Timeline > section > h4, .TimelinePage-Surface .TimelinePage-Timeline > section > h5, .TimelinePage-Surface .TimelinePage-Timeline > section > h6, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header1, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header2, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header3, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header4, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header5, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header6 {
  position: relative;
}
.TimelinePage-Surface .TimelinePage-Timeline > section > h1::after, .TimelinePage-Surface .TimelinePage-Timeline > section > h2::after, .TimelinePage-Surface .TimelinePage-Timeline > section > h3::after, .TimelinePage-Surface .TimelinePage-Timeline > section > h4::after, .TimelinePage-Surface .TimelinePage-Timeline > section > h5::after, .TimelinePage-Surface .TimelinePage-Timeline > section > h6::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header1::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header2::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header3::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header4::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header5::after, .TimelinePage-Surface .TimelinePage-Timeline > section > .Header6::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: -10px;
  background-color: #BDBDBD;
  width: calc(100% + 10px*2);
}

.TimelinePage-Blog {
  display: flex;
  flex-direction: column;
}

.TimelinePage-Month .TimelinePage-Blog-Content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.TimelinePage-Blog-Content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.TimelinePage-Blog-Content:not([disabled]):hover {
  background-color: #e6e6e6;
}
.TimelinePage-Blog-Content:not([disabled]):hover {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.TimelinePage-Blog-Content:not([disabled]):hover::after {
  content: "";
  height: 100%;
  background-color: #e6e6e6;
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 10px*2);
  z-index: -1;
}

.TimelinePage-Blog-Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 500px;
  flex: 1;
}

.Timeline-Blog-Side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Timeline-Blog-Side > * + * {
  margin-left: 10px;
}
.Timeline-Blog-Side .Button span.Text {
  display: none;
}
.Timeline-Blog-Side .Button .Separator {
  display: none;
}

.ProjectTimelinePage-Surface section + section {
  margin-top: 3rem;
}
.ProjectTimelinePage-Surface section > h2 {
  padding-bottom: 2px;
}
.ProjectTimelinePage-Surface section > h2 {
  position: relative;
}
.ProjectTimelinePage-Surface section > h2::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: -10px;
  background-color: #BDBDBD;
  width: calc(100% + 10px*2);
}
.ProjectTimelinePage-Surface section > h1, .ProjectTimelinePage-Surface section > h2, .ProjectTimelinePage-Surface section > h3, .ProjectTimelinePage-Surface section > h4, .ProjectTimelinePage-Surface section > h5, .ProjectTimelinePage-Surface section > h6, .ProjectTimelinePage-Surface section > .Header1, .ProjectTimelinePage-Surface section > .Header2, .ProjectTimelinePage-Surface section > .Header3, .ProjectTimelinePage-Surface section > .Header4, .ProjectTimelinePage-Surface section > .Header5, .ProjectTimelinePage-Surface section > .Header6 {
  margin-top: 0;
  margin-bottom: 0;
}
.ProjectTimelinePage-Surface .ProjectTimelinePage-Summary {
  font-size: 1.2rem;
  margin-bottom: 2.3rem;
}
.ProjectTimelinePage-Surface .ProjectTimelinePage-Project {
  display: flex;
  flex-direction: column;
}
.ProjectTimelinePage-Surface .ProjectTimelinePage-Project:not([disabled]):hover {
  background-color: #e6e6e6;
}
.ProjectTimelinePage-Surface .ProjectTimelinePage-Project:not([disabled]):hover {
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.ProjectTimelinePage-Surface .ProjectTimelinePage-Project:not([disabled]):hover::after {
  content: "";
  height: 100%;
  background-color: #e6e6e6;
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 10px*2);
  z-index: -1;
}

.ProjectTimelinePage-Projects {
  display: flex;
  flex-direction: column;
}
.ProjectTimelinePage-Projects > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ProjectTimelinePage-Content {
  display: flex;
  flex-direction: row;
}
.ProjectTimelinePage-Content > * + * {
  margin-left: 50px;
}

.ProjectTimelinePage-Main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 600px;
}
.ProjectTimelinePage-Main > * + * {
  margin-top: 10px;
}

.ProjectTimelinePage-Details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.ProjectTimelinePage-Project-Title {
  font-size: 1.5em;
  font-weight: bold;
  min-width: 150px;
}

.ProjectTimelinePage-Project-Updated {
  font-size: 1em;
  color: #646464;
  min-width: 300px;
}

.ProjectTimelinePage-Project-Skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ProjectTimelinePage-Project-Skills > .Badge {
  margin-right: 10px;
  font-size: 0.7em;
}

.ProjectTimelinePage-Side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ProjectTimelinePage-Side .Button span.Text {
  display: none;
}
.ProjectTimelinePage-Side .Button .Separator {
  display: none;
}
.ProjectTimelinePage-Side > * + * {
  margin-left: 10px;
}

.Login-Form {
  border-width: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  width: fit-content;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px 0.5px darkgray;
  background-color: whitesmoke;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-name: fadein;
}

.Login-Submit {
  margin-top: 10px;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.LoginPage-Header .LoginPage-Logo {
  margin-left: 3rem;
}
.LoginPage-Header .LoginPage-LogoText {
  top: 1rem;
  position: relative;
  font-size: 8rem;
  color: #FFECB3;
}
.LoginPage-Header .LoginPage-LogoTagline {
  position: absolute;
  top: 8rem;
  left: 8rem;
  font-size: 4rem;
  font-weight: bold;
  color: #FFA000;
}

.Login-Form > * + * {
  margin-top: 20px;
}

.EditPage-Surface {
  min-width: 800px;
}
.EditPage-Surface .Blog-Form > * + * {
  margin-top: 1.5rem;
}

.ProjectEditPage-Surface {
  min-width: 800px;
}
.ProjectEditPage-Surface .ProjectEditPage-Form > * + * {
  margin-top: 1.5rem;
}

.AddPage-Surface {
  min-width: 800px;
}
.AddPage-Surface .Blog-Form > * + * {
  margin-top: 1.5rem;
}

.ProjectAddPage-Surface {
  min-width: 800px;
}
.ProjectAddPage-Surface .ProjectEditPage-Form > * + * {
  margin-top: 1.5rem;
}

.Forward.PageEnter-appear, .Forward.PageEnter-enter {
  opacity: 0;
}
.Forward.PageEnter-appear-active, .Forward.PageEnter-enter-active {
  animation-name: enter-forward;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes enter-forward {
  from {
    transform: translate(-40%, 0);
    opacity: 0.3;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.Forward.PageEnter-exit {
  opacity: 1;
}
.Forward.PageEnter-exit-active {
  animation-name: l;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes l {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(40%, 0);
    opacity: 0;
  }
}

.Backward.PageEnter-appear, .Backward.PageEnter-enter {
  opacity: 0;
}
.Backward.PageEnter-appear-active, .Backward.PageEnter-enter-active {
  animation-name: enter-backward;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes enter-backward {
  from {
    transform: translate(40%, 0);
    opacity: 0.3;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.Backward.PageEnter-exit {
  opacity: 1;
}
.Backward.PageEnter-exit-active {
  animation-name: leave-backward;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes leave-backward {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-40%, 0);
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
