@use 'globals/abstract/constants';

.Footer-Container {
    background-color: darkblue;
    padding: 10px 20px 10px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-Subcontainer {
    display: flex;
    flex-direction: column;
    max-width: constants.$max-width;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}

.Footer-Text {
    color: white;
}