@use 'globals/abstract/clickable';
@use 'globals/abstract/mixins';
@use 'globals/abstract/constants';

.Header-Container {
    display: flex;
    flex-direction: row;
    background-color: darkblue;
    margin: 0;
}

.Header-MenuItemsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: constants.$max-width;
    margin: auto;
}

%MenuItem {
    min-width: 100px;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    @extend %clickable;
    border-width: 7px 0 7px 0;
    border-style: solid;
    border-color: transparent;
    white-space: nowrap;
}

%MenuItem-Hover {
    @include mixins.hover {
        border-bottom-color: white;
    }
}

.Header-UnselectedMenuItem {
    color: lightblue;
    @extend %MenuItem;
    @extend %MenuItem-Hover;
}

.Header-SelectedMenuItem {
    color: white;
    font-weight: bold;
    @extend %MenuItem;
    @extend %MenuItem-Hover;
}

.Header-MenuItemLink {
    display: contents;
}

.Header-MenuItemContainer {
    position: relative;
    display: flex;
    @include mixins.hover {
        .Header-SubmenuContainer {
            transition: opacity 0.2s;
            display: block;
            opacity: 1;
        }
    }
}

.Header-SubmenuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: rgb(125, 125, 125);
    top: 100%;
    left: 0;
    display: none;
    opacity: 0;
}
.Header-SubmenuItemLink {
    @extend .Header-MenuItemLink;
}

%SubmenuItem-Hover {
    @include mixins.hover {
        background-color: rgb(100, 100, 100);
    }
}

.Header-SubmenuItem {
    min-width: 100px;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    @extend %clickable;
    border-style: solid;
    border-color: transparent;
    text-align: left;
    color: white;
    z-index: 1;
    @extend %SubmenuItem-Hover;
    border: 0;
    display: flex;
    font-size: 0.9em;
    white-space: nowrap; // Needed to prevent word wrapping
}
