@use 'globals/abstract/clickable';
@use 'globals/abstract/mixins';
@use 'globals/abstract/constants';

.Header-Container {
    display: flex;
    flex-direction: row;
    background-color: darkblue;
    margin: 0;
}

.Header-MenuItemsContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: constants.$max-width;
    margin: auto;
}

%MenuItem {
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    @extend %clickable;
    border-width: 7px 0 7px 0;
    border-style: solid;
    border-color: transparent;
}

%MenuItem-Hover {
    @include mixins.hover {
        border-bottom-color: white;
    }
}

.Header-UnselectedMenuItem {
    color: lightblue;
    @extend %MenuItem;
    @extend %MenuItem-Hover;
}

.Header-SelectedMenuItem {
    color: white;
    font-weight: bold;
    @extend %MenuItem;
    @extend %MenuItem-Hover;
}

.Header-MenuItemLink {
    display: contents;
}