
@use 'globals/abstract/constants';
@use 'globals/abstract/mixins';

/**
 Contains styles that are reused 
 across all pages, sections, etc.

 Includes styles for globally reused 
 JS components
 */


 .Body {
     background-color: rgb(245, 245, 245);
     min-height: 100%;
     position: relative;
 }

 .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .LinkText {
     text-decoration: underline;
     text-decoration-style: dotted;
     text-decoration-color: black;

     @include mixins.hover {
        text-decoration-color: grey;
     }

     span {
         @include mixins.hover {
             color: grey;
         }
     }
 }

%Header {
}

.Header-One {
    @extend %Header;
}

.Header-Two {
    @extend %Header;
}

.Header-Three {
    @extend %Header;
}

.Header-Four {
    @extend %Header;
}

.Header-Five {
    @extend %Header;
}