
@use 'constants';

/**
 Contains styles that are reused 
 across all pages, sections, etc.

 Includes styles for globally reused 
 JS components
 */

 .Article-Container {
    padding: 40px 0px 175px 0px;
 }

 .Article {
    max-width: constants.$max-width;
    margin: 0px auto;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px lightgrey;
    min-height: 100%;
 }

 .Body {
     background-color: rgb(245, 245, 245);
     min-height: 100%;
     position: relative;
 }