
@use 'constants';
@use 'mixins';

/**
 Contains styles that are reused 
 across all pages, sections, etc.

 Includes styles for globally reused 
 JS components
 */

 .Article-Container {
    padding: 40px 0px 175px 0px;
 }

 .Article {
    max-width: constants.$max-width;
    margin: 0px auto;
    padding: 60px 90px 60px 90px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px lightgrey;
    min-height: 100%;
 }

 .Body {
     background-color: rgb(245, 245, 245);
     min-height: 100%;
     position: relative;
 }

 .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .LinkText {
     text-decoration: underline;
     text-decoration-style: dotted;
     text-decoration-color: black;

     @include mixins.hover {
        text-decoration-color: grey;
     }

     span {
         @include mixins.hover {
             color: grey;
         }
     }
 }