@use 'constants';


.HomePage-WorkList .ListItemContainer {
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.HomePage-Work-Title {
    font-weight: bold;
}

.HomePage-Work-Subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.HomePage-Work-Company {
    width: 200px;
}

.HomePage-Work-Dates {
    flex: 1;
}

.HomePage-ProjectsList {
    padding-inline-start: 0;
    background-color: rgb(245, 245, 245);
    padding: 20px 20px;
    box-shadow: 1px 1px 3px 1px lightgrey;

    li {
        list-style: none;
    }
}

.HomePage-ProjectsList .ListItemContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.HomePage-Project-Title {
    font-weight: bold;
    width: 110px;
}

.HomePage-Project-Link {
    text-align: right;
    width: 110px;
    display: inline-block;

    span {
        display: inline-block;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

.HomePage-Work-Separator {
    margin: 0 10px;
}