@use 'constants';

.HomePage-Container {
    max-width: constants.$max-width;
    margin: 0 auto;
    padding: 10px 20px;
}

.HomePage-WorkList .ListItemContainer {
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.HomePage-Work-Title {
    font-weight: bold;
}

.HomePage-Work-Company {
    font-style: italic;
}