@use 'globals/abstract/mixins';
@use 'globals/abstract/functions';
@use 'globals/abstract/clickable';

.ContactPage-Title {
    @include mixins.first-vertical;
}

.ContactPage-Form {
    display: flex;
    flex-direction: column;
}

.ContactPage-InputGroup {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.ContactPage-InputGroup label {
    min-width: 100px;
    display: inline-block;
}

$input-min-width: 500px;

.ContactPage-InputGroup input {
    display: inline-block;
    min-width: $input-min-width;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}

.ContactPage-InputGroup textarea {
    display: inline-block;
    min-width: $input-min-width;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 0.9em;
}

.ContactPage-SubmitButton {
    padding: 7px 14px;
    align-self: flex-start;
    border-radius: 5px;
    border-style: solid;
    background-color: functions.gray(190);
    border-color: transparent;
    font-size: 0.9em;
    @extend %clickable;
    @include mixins.active {
        background-color: functions.gray(210);
    }
}