@use 'globals/abstract/mixins';
@use 'globals/abstract/clickable';

.WorkPage-Experience-Title {
    @include mixins.first-vertical;
}

.WorkPage-Experience-Subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}


.WorkPage-Experience-Company {
    margin: 0; 
    font-size: 20px;
    line-height: 1.5em;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    background-color: darkred;
    color: white;
    @extend %clickable;
    @include mixins.hover {
        transform: rotate(-4deg) scaleX(1.05) scaleY(1.05);
    }
}

.WorkPage-Experience-Dates {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    background-color: purple;
    color: white;
}

.WorkPage-Experience-Languages {
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.WorkPage-Experience-Language {
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 10px;
    border-width: 1px;
    background-color: darkblue;
    color: white;
    margin-bottom: 20px;
}