@use "componentlib/globals/abstract/functions";
@use "componentlib/globals/abstract/constants";
@use "componentlib/globals/abstract/mixins";


.ProjectTimelinePage-Surface {
    $horizontal-padding: 10px;

    & section + section {
        margin-top: 3rem;
    }

    & section > h2 {
        @include mixins.underline($horizontal-padding);
        padding-bottom: 2px;
    }

    & section {
        @include mixins.no-margin-headers;
    }

    .ProjectTimelinePage-Summary {
        font-size: 1.2rem;
        margin-bottom: 2.3rem;
    }

    .ProjectTimelinePage-Project {
        display: flex;
        flex-direction: column;

        @include mixins.highlight(functions.gray(230), $horizontal-padding);

    }
}

.ProjectTimelinePage-Projects {
    display: flex;
    flex-direction: column;

    & > * {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.ProjectTimelinePage-Content {
    display: flex;
    flex-direction: row;

    & > * + * {
        margin-left: 50px;
    }
}

.ProjectTimelinePage-Main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 600px;

    & > * + * {
        margin-top: 10px;
    }
}

.ProjectTimelinePage-Details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.ProjectTimelinePage-Project-Title {
    font-size: 1.5em;
    font-weight: bold;
    min-width: 150px;
}

.ProjectTimelinePage-Project-Updated {
    font-size: 1em;
    color: functions.gray(100);
    min-width: 300px;
}

.ProjectTimelinePage-Project-Skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & > .Badge {
        margin-right: 10px;
        font-size: 0.7em;
    }
}

.ProjectTimelinePage-Side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include mixins.hide-icon-text;
    & > * + * {
        margin-left: 10px;
    }
}

