@use "componentlib/globals/abstract/constants";
@use "componentlib/globals/abstract/mixins";
@use "componentlib/globals/abstract/functions";

.SkillsPage-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .SkillsPage-Header-Left {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * + * {
            margin-left: 20px;
        }
    }
}

.SkillsPage-Search {
    display: flex;
    flex-direction: row;
}

.SkillsPage-Skills {
    padding: 20px 0;
    $horizontal-padding: 10px;
    /*
    & > * + * {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: constants.$divider;
    }
    */

    & > *:first-child {
        @include mixins.overline($horizontal-padding);
    }

    /*
    & > *:last-child {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: constants.$divider;
    }
    */
    .SkillsPage-Skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mixins.padding-v(20px);
        @include mixins.highlight(functions.gray(230), $horizontal-padding);
    }
}


.SkillsPage-Skill-Name {
    min-width: 300px;
    display: inline-block;
    font-size: 1.3rem;
}

.SkillsPage-Skill-Main {
    width: 500px;

    & > *:first-child {
        margin-right: 20px;
    }
}

.SkillsPage-Skill-Side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * + * {
        margin-left: 20px;
    }
}

.SkillsPage-Modal-Submit {
    width: 100%;
}

.SkillsPage-Form {
    display: flex;
    flex-direction: column;

    & > * + * {
        margin-top: 20px;
    }
}

.SkillsPage-DeleteForm {
    display: flex;
    flex-direction: column;
    & > * + * {
        margin-top: 30px;
    }
}

.SkillsPage-DeleteForm-Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > * + * {
        margin-left: 20px;
    }
}