@use "componentlib/globals/abstract/mixins";
@use "componentlib/globals/abstract/functions";
@use "componentlib/globals/abstract/constants";

$-horizonal-padding: 10px;

$r: ".TimelinePage";
$blog: #{$r}-Blog;
#{$r}-Surface {

   #{$blog}-Main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-width: 500px;
        flex: 1;

        & > * + * {
            margin-top: 0.5rem;
        }
   }

   #{$blog}-Title {
       font-size: 1.25rem;
       font-weight: bold;
   }

   #{$blog}-Second {
        #{$blog}-Created {
            font-size: 0.9rem;
            color: functions.gray(80);
        }

        #{$blog}-Updated {
            font-size: 0.9rem;
            color: functions.gray(80);
        }

        #{$blog}-Views {
            font-size: 0.9rem;
            color: functions.gray(80);
        }

        & > * + * {
            margin-left: 1rem;
        }
   }

}

.TimelinePage-Surface {
    min-width: 700px;

    & .TimelinePage-Timeline > * + section {
        margin-top: 1.5rem;
    }

    & .TimelinePage-Timeline {
        @include mixins.style-headers {
        }
    }

    & .TimelinePage-Timeline > section {
        @include mixins.no-margin-headers;

        @include mixins.style-headers {
            @include mixins.underline($-horizonal-padding);
        }
    }
}

.TimelinePage-Blog {
    display: flex;
    flex-direction: column;
}

.TimelinePage-Month {
    .TimelinePage-Blog-Content {
        @include mixins.padding-v(20px);
    }
}

.TimelinePage-Blog-Content {
    display: flex;
    flex-direction: row;
    flex: 1;
    @include mixins.highlight(functions.gray(230), $-horizonal-padding);

}


.TimelinePage-Blog-Main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 500px;
    flex: 1;
}

.Timeline-Blog-Side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > * + * {
        margin-left: 10px;
    }

    @include mixins.hide-icon-text;
}