@use "globals/abstract/constants";
@use "globals/abstract/mixins";

.Header {
    width: 100%;
    height: 7rem;
    background-color: constants.$dark-primary;
    display: flex;
    flex-direction: row;

    .Logo {
        position: relative;
        height: 100%;
        white-space: nowrap;
    }

    .Logo > .LogoLink {
        display: contents;
    }
}

%MenuItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .Text {
        color: constants.$light-primary;
        font-size: 1.7rem;
        font-weight: bold;
        font-variant: small-caps;

    }
    
    & > a {
        padding: 1rem 1.5rem;
        position: relative;
    }
}

.Menu {
    display: flex;
    flex-direction: row;

    .MenuItem {
        @extend %MenuItem;
        & > a {
            @include mixins.hover {
                @keyframes expand {
                    from {
                        width: 1px;
                        left: 50%;
                    }

                    to {
                        width: 100%;
                        left: 0;
                    }
                }


                &::after {
                    $height: 0.6rem;
                    content: "";
                    height: $height;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    animation-name: expand;
                    animation-duration: 0.25s;
                    animation-timing-function: ease-in-out;
                    //background-color: constants.$light-primary;
                    background-color: white;
                }

                .Text {
                    color: white;
                }
            }
        }

    }

    .SelectedMenuItem {
        @extend %MenuItem;


        & > a {
            background-image: linear-gradient(constants.$dark-primary, constants.$primary);

            .Text {
                color: white;
            }
        }
    }

}


.SurfaceNavHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: constants.$dark-primary;
    color: white;

    & + * {
        padding-top: 2rem;
    }

    .SurfaceNavHeader-First {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * + * {
            margin-left: 20px;
        }
    }

    .SurfaceNavHeader-Last {
        display: flex;
        flex-direction: row;
        align-items: center;


        & > * + * {
            margin-left: 20px;
        }
    }


}