@use "globals/abstract/functions";
@use "globals/abstract/mixins";
@use "globals/abstract/constants";

// TODO : Need a form component with default grid spacing

.InputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InputGroup-Label {
    width: 170px;
    font-size: 1.1em;
}

.InputGroup input {
    border-radius: 3px;
    border-style: solid;
    border-color: constants.$border-gray;
    border-width: 1px;
    padding: 0.5em 0.5em;
    font-size: 1em;
    min-width: 250px;
    flex: 1;
}

.InputGroup input[type="color"] {
    padding: 0;
    width: 3em;
    height: 2em;
    min-width: 0;
}
