
a {
    display: inline-block;
    color: unset;
    text-decoration: unset;
    font-size: 1em;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif
}

* {
    box-sizing: border-box;
}